[Unit]
Description=goweb

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/src/golang/Golang-RestAPI/main/mainx

[Install]
WantedBy=multi-user.target
